.header,
.headerMobile {
  background-color: var(--main-background);
}
.header {
  height: 29px;
}
.headerMobile {
  height: 100px;
}
.nav {
  color: white;
  text-decoration: none;
  width: 120px;
}
.nav:hover {
  font-size: 20px;
}
