:root{
  --main-background: #88A9CF;
  --font-family: Roboto;
  --color-font: #88A9CF;
  --color-title : white ;
  --color-text : #88A9CF;
  --main-bg : #FAF8F8;
}
body{
  font-family: var(--font-family);
  width:380px;
  margin-left:auto;
  margin-right: auto;
}